body {
    margin: 0;
}

.col-container {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
    padding: 16px;
    background-color: orange;
    border: black 1px solid;
}

.col1 {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 70%;
    margin: 0 10%;
}

.col2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10%;
}